<p id="notice"><%= notice %></p>

<p>
  <strong>Award name:</strong>
  <%= @awards_and_honor.award_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @awards_and_honor.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @awards_and_honor.year %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @awards_and_honor.organization %>
</p>

<%= link_to 'Edit', edit_awards_and_honor_path(@awards_and_honor) %> |
<%= link_to 'Back', awards_and_honors_path %>
